# WorldbuildingApp V2

### Build output ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### Frontend ###
node_modules/
*.log
*.log.*.gz

### Data files ###
data/*

### Environment ###
.env
.env.local

Docs/Referencias_visuales/
.github
src/main/resources/data/*.db
Docs/Priototipo_IDE/
Docs/logs/

### Logs ###
Docs/logs/
*.log
*.txt
restart.flag
*.zip
*.jar
*.war
*.exe
*.msi
*.tar