:root{
--sombra: #8000ff;
--fondo: #000000;
}
* {
    box-sizing: content-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #000000;
}
header{
    width: 50%;
    height: auto;
    text-align: center;
    background: url(../../Otros/imagenes/crear.jpg) center no-repeat;
    background-size: cover;
    color: white;
}
header h1{
    text-decoration: underline;
}
.zona{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
.despliegue{
    flex-grow: 1;
    margin: 1vh;
}
.opciones{
    border: 1px solid white;
    margin: 2vh;
    width: 100%;
    height: 40vh;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.botonSalida{
    color: black;
    font-size: medium;
    font-weight: bolder;
    width: auto;
    height: auto;
    padding: 1%;
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../Otros/imagenes/casting-spell.gif);
    background-size: cover;
    background-position: top 20% center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.botonSalida:hover{
    box-shadow: 0vw 0vw 0vw 0vw var(--fondo) inset, 0vw 0vw 5vw 1vw var(--sombra);
}
figure{
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    box-shadow: 0vw 0vw 0vw 0vw var(--fondo) inset, 0vw 0vw 5vw 1vw var(--sombra);
}
figure:hover{
    box-shadow: 0vw 0vw 0vw 1vw white, 0vw 0vw 5vw 1vw yellow;
}
figure, figure:hover{
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
figure:hover button{
    width: 20vh;
    height: 5vh;
}

/*----Una imagen distinta por cada card----*/
figure:nth-child(1){ /*ENTIDADES INDIVIDUALES*/
    background: url(../../Otros/imagenes/mage.png) center no-repeat;
    background-size: cover;
    color: red;
    font-size: large;
    margin-left: 110%; /*Hace que el lado izquierdo no se coma la tarjeta*/
}
        
figure:nth-child(2){ /*ENTIDADES COLECTIVAS*/
    background: url(../../Otros/imagenes/colectivas.jpg) center no-repeat;
    background-size: cover;
    color: red;
    font-size: large;
}

figure:nth-child(3){ /*EFECTOS MAGIAS*/
    background: url(../../Otros/imagenes/magia.png) center no-repeat;
    background-size: cover;
    color: red;
    font-size: large;
}
        
figure:nth-child(4){ /*CONSTRUCCIONES*/
    background: url(../../Otros/imagenes/construcciones.jpg) center no-repeat;
    background-size: cover;
    color: red;
    font-size: large;
}

figure:nth-child(5){ /*ZONAS*/
    background: url(../../Otros/imagenes/zonas.png) center no-repeat;
    background-size: cover;
    color: red;
    font-size: large;
}

figure:nth-child(6){ /*RELACIONES*/
    background: url(../../Otros/imagenes/relaciones.jpg) center no-repeat;
    background-size: cover;
    color: red;
    font-size: large;
}