*{
    box-sizing:border-box;
}
.panel0{
    border: 1px solid black;
    position: fixed;
    width: calc(9.9vw*10);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

/*Aquí empezaría los recuadros de arriba que son el Menú desplegable*/

.menu-desplegable{
    border: 1px solid rgb(78, 110, 255);
    width: 10%;
    height: 0%;
    color: white;
    background-color: black;
    position: relative;
    margin: 0.5%;
    padding: 0.5%;
    background-image: url(../../other/imagenes/casting-spell.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.menu-desplegable:hover{
    width: 10%;
    z-index: 1;
}

.menu-desplegable:hover .content{
    width: 100%;
    max-height: 200vh; /* Ajustar el valor según el contenido */
}

.content{
    /*De aquí establece como se distribuyen las opciones según su posición. */
    display: flex;
    flex-direction:column;
    align-items: center;
    /*Hasta aquí*/
    transition: visibility 1s, max-height 1s; /* Añadir transición para visibilidad y altura */
    max-height: 0;
    overflow: hidden;
}
.optionA{ /*No borrar*/
    width: 100%;
    cursor:default;
    overflow: hidden;
}
.option{/*De aquí establece como cambian las opciones. */
    /*El ancho cambia de estar a la derecha y fuera a estar en el centro pero
    estirando los lados si las unidades relativas las cambias de "vw" a "%" */
    width: 50%;
    transition: width 0.5s, background-color 0.5s; /* Añadir transición para background-color */
    background-color: aqua;
    overflow: hidden;
    white-space: nowrap; /* Evitar que el texto se desborde */
}
.option:hover{
    width: 100%;
    background-color:rgb(166, 65, 225);
    cursor: pointer;
}

/*Esta es la sección de arriba de la derecha*/

.infoTop{
    flex-grow: 1;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

/*Este es el nombre del proyecto (y su ruta)*/
.header-top{
    border: 1px solid rgb(207, 11, 11);
    text-align: center;
    display: inline;
    width: 10%;
}

/*Aquí empezaría los recuadros de arriba que no son el Menú desplegable*/
.navTop{
    flex-grow: 1;
    height: auto;
    border: 1px solid rgb(207, 11, 11);
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
    position: relative;

    background-image: url(../../other/imagenes/flecha-abajo-unaLinea.png);
    background-position: center;
    background-size: 1%;
    background-repeat: no-repeat;
}

.navTop:hover{
    width: auto;
    height: auto;
    align-content: space-between;
    background-image: none;
}

.nv{
    display: none;
    text-align: center;
    height: auto;
    visibility: collapse;
    
}

.navTop:hover > .nv{
    transition: visibility 1s, max-height 1s; /* Añadir transición para visibilidad y altura */
    visibility: visible;
    overflow: hidden;
    max-height: 1;
    display: flex;
}
/*Aquí empezaría los recuadros del centro que dependen de lo de arriba*/

.area-central{
    width: 100%;
    height: 85vh;
    border: 1px solid rgb(207, 11, 11);
    grid-area: centro;
    display: flex;
    flex-direction: row;
}

.objects, .ground{
    border: 1px solid black;
    height: auto;
}

.objects{
    width: 12.5%;
}

.ground{
    width: 100%;
}