@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@xyflow/react/dist/style.css';

:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #020617; /* slate-950 */
}

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
