/*Transición entre páginas*/

::view-transition-old(root) {
  opacity: 1;
  transform: translateX(0);
}

::view-transition-new(root) {
  opacity: 0;
  transform: translateX(100%);
  animation: fadeInSlide 500ms ease forwards;
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*-----------------------------------------------*/

*{
    box-sizing:border-box;
}
.panel0{
    border: 1px solid black;
    position: fixed;
    width: calc(9.9vw*10);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.top{
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-content: space-around;
}

/*Aquí empezaría los recuadros de arriba que son el Menú desplegable*/

.menu-desplegable{
    border: 1px solid rgb(78, 110, 255);
    width: 10%;
    height: 5vh;
    color: white;
    position: absolute;
    z-index: 1;
    padding: 0.5%;
    background-color: black;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-decoration: underline;
}
.menu-desplegable:hover{
    height: 25vh;
}
.menu-desplegable, .menu-desplegable:hover{
    transition: height 0.5s ease-in-out;
}

.menu-desplegable:hover .content{
    width: auto;
    max-height: 100%; /* Ajustar el valor según el contenido */
}

.menu-desplegable .simbolo{
    position: absolute;
    bottom: 0;
}

.content {
    margin-top: 1vh;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: flex-start; /* clave para alinear a la izquierda */
    flex-grow: 1;
    transition: visibility 0.5s ease-in-out, max-height 0.5s ease-in-out; /* Añadir transición para visibilidad y altura */
}

.option {
    width: min-content; /* que se ajuste al contenedor, no use valores absolutos */
    background-color: rgb(166, 65, 225);
    overflow: hidden;
    white-space: nowrap;
    margin-left: 1%;
    padding-right: 0; /* para visual feedback */
}
.option:hover {
    font-size: larger;
    width: auto;
    margin-left: 0.5vw;
    padding-right: 3vw;
    /* hace que crezca hacia la derecha */
    background-color: yellow;
}
.option, .option:hover{
    transition: padding-right 0.5s ease-in-out, background-color 0.5s; /* Añadir transición para background-color */
}

/*Esta es la sección de arriba de la derecha*/

.infoTop{
    border: 2px solid green;
    width: 90%;
    margin-left: 10%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
}

/*Este es el nombre del proyecto (y su ruta)*/
.header-top{
    border: 4px solid rgb(207, 11, 11);
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

.header-top a{
    width: 100%;
    height: auto;
}

/*Aquí empezaría los recuadros de arriba que no son el Menú desplegable*/
.navTop{
    flex-grow: 1;
    height: 2vh;
    border: 1px solid rgb(207, 11, 11);
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
    position: relative;
    background-image: url(../imagenes/flecha-abajo-unaLinea.png);
    background-position: center;
    background-size: 1%;
    background-repeat: no-repeat;
}

.navTop:hover{
    width: auto;
    height: 5vh;
    align-content: space-between;
    background-image:unset;
}

.navTop, .navTop:hover{
    transition: height 0.5s ease-in-out, background-image 1s ease-in-out;
}

.navTop header{
    display: none;
    text-align: center;
    height: auto;
    visibility: collapse;
}

.navTop:hover > header{
    transition: visibility 1s, max-height 1s; /* Añadir transición para visibilidad y altura */
    visibility: visible;
    overflow: hidden;
    max-height: 1;
    display: flex;
}
/*Aquí empezaría los recuadros del centro que dependen de lo de arriba*/

.area-central{
    width: 100%;
    height: 85vh;
    margin-top: 5vh;
    border: 1px solid rgb(207, 11, 11);
    display: flex;
    flex-direction: row;
}

.objects, .ground{
    border: 1px solid black;
    height: auto;
}

.objects{
    position: absolute;
    width: 10vw; /*Mirar para cambiar el tamaño*/
    height: auto;
    margin: 1vw;
}

.ground{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}